<html>
    <title>Release data entry</title>

<body>
        
    <h1>NEW Release Measures</h1>
    
    <form method="POST" >
    	<table id="id_recent_table">
    	
    	Event name: <input name="new_event_name" id="id_new_event_name" placeholder ="Enter the name"/>
    	
    		{% for metric in metrics %}
    			{% if metric.frequence == "RELEASE" %}
    				<tr><td>{{ metric.name }} {{ metric.description }} {{ metric.frequence }} <input name="new_measure_{{ metric.name }}" id="id_new_measure_{{ metric.name }}" placeholder ="Enter the measure"/></td></tr>
    			{% endif %}
    		{% endfor %}
    		
    	</table>
    <input type="submit" value="submit" name="submit"/>
    {% csrf_token %}
    </form>
    
</body>

</html>

